body{
  margin: 0;
  padding: 0;
}

#icon img{
  width: 60px;
  height: auto;
}
@font-face {
    font-family: Tiempos Headline;
    src: url(../fonts/Tiempos Headline/Tiempos Headline - Medium.otf);
}

#icon{
  margin-left:25px;
  margin-top: 60px;
  width:80px;
  height: auto;
}
.iconcolumn{
  width: 80px;
  float: left;
  height: auto;
}
#allcontentproject{
  padding-left: 140px;
}

#icon:hover{
   -webkit-filter: blur(1px) opacity(1);
  -moz-filter: blur(1px) opacity(1);
 -o-filter: blur(1px) opacity(1);
 -ms-filter: blur(1px) opacity(1);
 filter: blur(1px) opacity(1);
 -webkit-transition:linear .5s;
 transition: linear .5s;
 float: left;
}


.subhead{
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-top: 20px;
  float: left;
}

.projectpagetitle{
 font-family: 'Tiempos Headline', sans-serif;
 font-size: 22px;

}
.projectpagedescription{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;

}

.projectpageinfo{
 padding-top: 80px;
 width: 325px;
}



.caption{
  font-size: 12px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}


#icon img{
  width: 60px;
  height: auto;
}


#icon{
  margin-left:25px;
  margin-top: 80px;
  width:80px;
  height: auto;
  position: fixed;
}
.iconcolumn{
  width: 80px;
  float: left;
  height: 300px;
}

#menu{
  position: fixed;
  padding-top: 200px;
  z-index: 100;
  visibility: hidden;
  padding-left: 39vw;
}

#menu a{
  font-family: Tiempos Headline, sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  margin-top: 20px;
  width: auto;
}
#menu a:hover{
     -webkit-filter: blur(1px) opacity(1);
  -moz-filter: blur(1px) opacity(1);
 -o-filter: blur(1px) opacity(1);
 -ms-filter: blur(1px) opacity(1);
 filter: blur(1px) opacity(1);
 -webkit-transition:linear .5s;
 transition: linear .5s;
}
.images img{
  box-shadow: 5px 5px 15px grey;
  margin-bottom: 20px;
  margin-right: 20px;
}

.images{
   margin-top: 40px;
}

.rightcaptionbox img{
    width: 35vw;
    display: inline-block;
}

.rightcaptionbox{
  float: left;
  width: 70vw;
}

.floatrightcaption{
  font-size: 12px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  float: right;
  padding-left: 10px;
  line-height: 16px;
  margin-top: 40px;
  padding-right: 10vw;
  }


.wide img{
  width: 70vw;
  float:left;
}

.leftcaption img{
  float: right;
  width: 40vw;
  padding-right: 0px;
  margin-right: 0px;
}
.leftcaption{
  float: left;
  width: 70vw;
  height: auto;
}

.floatleftcaption {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  float: left;
  padding-right: 5vw;
  line-height: 16px;
  margin-top: 40px;
  }

  .twowide{
  width: 84vw;
}
.twowide img{
  width:33.5vw;
  float: left;
}





